
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(216, 221, 230);
}

.navBar {
  background-color: #7395d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 8rem;
    margin-bottom: 8rem;
}

#nav-container{
    width: 100%;
    margin: auto;
    display: flex;
    /* flex-direction: column-reverse; */
    /* align-content: stretch; */
    /* justify-content: space-evenly; */
    align-items: center;
}

.nav-btn-container{
  display: flex;
  width: 20%;  
}

h1{
  width:80%;
  font-size: 40px;
  margin:0 20%;
}

.cvForm {
  display: inline-block;
  width: 40%;
  margin: 2% 30%;
  padding: 5% 1%;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%); }

.title {
  margin: 5% 1%;
}

.sub-label {
  text-transform: uppercase;
  margin: 1%;
  display: grid;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: baseline;
  justify-items: center;
}

input {
  margin: 0.5rem 2rem;
  border-radius: 3px;
  border: rgb(208 194 215) solid 1px;
  height: 2rem;
  width: 180%;
}

#foto > input {
  height: 8.4rem;
  width: 9.27rem;
  background-image: url('/src/Images/blank_profile.png'); /*Arreglar tamaño de la foto*/
  text-align: center;
  background-repeat: no-repeat;
  background-color: #ccc;
}

#location, #perfiles, #meta, #basics, #name, #website, #habilidades, #work {
  display: none;
}

#education, #references, #skills, #awards, #interests{
  visibility:hidden ;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}

#education:after {
  content: "educación:";
  visibility: visible;
  display: block;
  position: absolute;
}

#references:after {
  content: "recomendaciones:";
  visibility: visible;
  display: block;
  position: absolute;
}

#skills:after {
  content: "habilidades y conocimientos:";
  visibility: visible;
  display: block;
  position: absolute;
}

#awards:after {
  content: "cursos:";
  visibility: visible;
  display: block;
  position: absolute;
}

#work:after {
  content: "experiencia:";
  visibility: visible;
  display: block;
  position: absolute;
}

#interests:after {
  content: "intereses:";
  visibility: visible;
  display: block;
  position: absolute;
}


#tareas, #descripción {
  width:100%;
  height: 8rem;
  margin:auto;
}

#descripción::placeholder {
  color: rgb(105, 105, 105);
  font-size: 1.2em;
  font-style: italic;
  text-transform:lowercase;
}

.category-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

#span-text {
  font-size: 12px;
  margin: 1rem;
  width: 100%;
}

Button {
  background-color: #a76eaf;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
}

.button-container {
  display:flex
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem 0 0 2.3rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#pdf-template{
  background-color: #ffffff;
  color:rgb(36, 31, 31);
  width:80%;
  height: max-content;
  margin: 0.5%;
  height: 20rem;
  font-style: italic;
  padding: 0.1rem;
  box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
}

.user-data-info{
  display: inline-block;
  width: 100%;
  padding: 3px;
  height: fit-content;
  font-size: 2px;
}

/* .user-data-info > p {
  margin: 5px;
  width: fit-content;
} */

.pdf-p {
  margin: 3px;
}

#pdf-img {
  border-radius: 50%;
  width:40px;
  height:40px;
  background-color: aliceblue;
  border: black solid 0.1px;
}

#btn-descarga{
  background-color: #3bbd9c;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
}

.sub-user-data-info{
  margin: 2px;
  width: 25%;
  display: flex;
  flex-direction: row;
}

.form-btn-container{
  display: flex;
  margin: 3rem 2.5rem 2rem 1rem;
  justify-content: center;
}


#guardar, #eliminar {

  background-color: #e9daeb;
  border: none;
  border-radius: 20px;
  color: #1d0a24;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  width: 12rem;
  height: 3rem;
  font-weight: bolder;

}

#guardar:hover {
  background-color: #2bb131;
  color: white;
}

#eliminar:hover {
  background-color: #ce1e18;
  color: white;
}