
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(216, 221, 230);
}

.navBar {
  background-color: #c0732c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 4rem;
  margin-bottom: 8rem;
}

.cvForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 2rem auto;
  border: rgb(123, 129, 207) solid;
  border-radius: 5px;
  padding: 3rem;
  background-color: white;
}

.basic-fields{
  padding:1rem;
  border-radius: 1px;
  margin: auto;
}

.fields {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  text-transform:uppercase;
}

.sub-label {
  text-transform: capitalize;
}

input {
  margin: 0.5rem 2rem;
  border-radius: 3px;
  border: rgb(48, 46, 49) solid 1px;
  height: 2rem;
  width: 16rem;
}

#location, #perfiles, #meta, #basics, #name, #website, #habilidades {
  display: none;
}

#education, #references, #skills, #awards, #work, #interests{
  visibility:hidden ;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 1.5rem;
}

#education:after {
  content: "educación:";
  visibility: visible;
  display: block;
  position: absolute;
}

#references:after {
  content: "recomendaciones:";
  visibility: visible;
  display: block;
  position: absolute;
}

#skills:after {
  content: "habilidades y conocimientos:";
  visibility: visible;
  display: block;
  position: absolute;
}

#awards:after {
  content: "cursos:";
  visibility: visible;
  display: block;
  position: absolute;
}

#work:after {
  content: "experiencia:";
  visibility: visible;
  display: block;
  position: absolute;
}

#interests:after {
  content: "intereses:";
  visibility: visible;
  display: block;
  position: absolute;
}

Button {
  width:5rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#pdf-template{
  /*background-color: rgb(56, 59, 58);*/
  color:rgb(36, 31, 31);
  width:80%;
  /*margin: auto;*/
  height: 7rem;
  font-style: italic;
  padding: 0.1rem;
}

.user-data-info{
  display: inline-block;
  width: 100%;
  padding: 3px;
  height: fit-content;
  font-size: 5px;
}

/* .user-data-info > p {
  margin: 5px;
  width: fit-content;
} */

.pdf-p {
  margin: 3px;
}

#pdf-img {
  border-radius: 50%;
  width:40px;
  height:40px;
}

.sub-user-data-info{
  margin: 2px;
  width: 25%;
  display: flex;
  flex-direction: row;
}
