
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(216, 221, 230);
}

.navBar {
  background-color: #7395d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 5rem;
}

#nav-title{

  text-align: center;
  
}

#nav-container{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

#main-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.template-container{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: fit-content;
  margin: 2%;
}

.nav-btn-container{
  display: flex;
  width: 20%;  
}

h1{
  width:80%;
  font-size: 40px;
  margin:0 20%;
}

.cvForm {
  display: inline-block; 
    width: 50%;
    /* margin: 2%; */
    padding: 5% 1%;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
    font-size: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
    bottom: 0;
}

.title {
  margin: 5% 1%;
}

#form-title{
  margin: auto;
    margin-bottom: 5rem;
    width: 50%;
    text-align: center;
}

.sub-label, .textarea-title {
  text-transform: uppercase;
  margin: 1%;
  display: grid;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: baseline;
  justify-items: center;
}

/* .sub-label-mandatory:before {
  content: '*';
  color: #ce1e18;
} */

input {
  margin: 0.5rem 2rem;
  border-radius: 3px;
  border: rgb(208 194 215) solid 1px;
  height: fit-content;
  width: 180%;
  font-size: 1rem;
}


#foto-label > input {
  margin: 0.5rem 2rem;
  border-radius: 3px;
  border: rgb(208 194 215) solid 1px;
  width: 115%;
}

#img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 5% auto 1% auto;
}

#location, #location-input, #perfiles, #meta, #basics, #name, #website-label, #habilidades-label, #work {
  display: none;
  visibility: hidden;
}

/* .mandatory:before{
  content: '*';
} */


#tareas, #descripción, #recomendación {
  width:100%;
  height: 8rem;
  margin:5% auto;
}

#tareas::placeholder, #descripción::placeholder, #recomendación::placeholder {
  color: rgb(105, 105, 105);
  font-size: 1rem;
  font-style: italic;
  text-transform:uppercase;
}

.category-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

#span-text {
  font-size: 12px;
  margin: 1rem;
  width: 100%;
}

Button {
  background-color: white;
  border: #a76eaf solid;
  border-radius: 25px;
  color: black;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  width: fit-content;
  height: 3.5rem;
}

Button:hover{
  border: #aaaee0 solid;
}



.button-container {
  display:flex
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem 0 0 2.3rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

                                                                    /* *** ESTILO PARA EL TEMPLATE *** */

#pdf-template{
  display: flow-root;
  display: flex;
  flex-direction: column;
  color:rgb(36, 31, 31);
  width:100%;
  height: fit-content;
  font-size: 2.1rem;
  background-color: white;
  padding: 15px;
  align-content: stretch;
  /*justify-content: space-evenly;*/
  align-items: flex-start;
  border-radius: 8px;
  background: #fff;
}


.template-img-container{

  /*background-color: #393b3c;*/
  display: flex;
  width: 100%;

}

#pdf-img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: auto;
  
}

  .user-data-info {
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
    color: rgb(59, 65, 70);
    margin: 3% auto;
}

.experience-title, .study-title, .recommendation-title, .ability-title, .activities-title{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-decoration:wavy;
}

.user-experience, .user-education, .user-recommendation, .user-ability, .user-activities{
  margin: 8px auto 0.2px auto;
  width: 100%;
  padding: 2px;
}

.user-ability-subcontainer {
  display: flex;
  flex-direction: row;
}


.user-experience-p, .user-education-p, .user-recommendation-p, .user-ability-p, .user-activities-p {
  align-content: stretch;
  justify-content: space-evenly;
  text-align: left;
  padding: 4px;
  color: rgb(59, 65, 70);
  width: 100%;

}

.user-activities-p {
  font-size: 1.5rem;
  font-weight: 100;
  width: 100%;
  letter-spacing: 0.8px;
  text-align: left;
  margin-bottom: 2px;
  text-decoration: dashed;
}

#cargo-input-user {
  font-weight: 600;
}

#empleador-input-user, #institución-input-user {
  font-weight: 400;
}

.nombre-input{
  font-weight:700;
}

.descripción {
  margin-top: 1px;
}

.pdf-p{
  width:50%;
  text-align: justify;
}

h6 {
  font-weight: 100;
  width: 100%;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 2px;
}

.user-contact{
    display: flex;
    flex-direction: column;
    color: #787575;
    font-size: 1rem;  /* antes eran 4px*/
    width: 100%;
    text-align: left;
    background-color: #f3eae8;
    align-items: stretch;
    justify-content: start;
    padding: 2px;
}

.p-contact{
  width: 100%;
  margin: 1px;
}


#teléfono-input::before{
  content: 'Teléfono: ';
  margin: 0 2px 0 4px;
}

#email-input::before {
  content: 'Correo electrónico: ';
  margin: 0 2px 0 4px;
}

#localidad::before {
  content: 'Localidad: ';
  margin: 0 2px 0 4px;
}

#linkedin-input::before {
  content: 'Linkedin: ';
  margin: 0 2px 0 4px;
}

#CP::before {
  content: 'Código postal: ';
  margin: 0 2px 0 4px;
}

#btn-descarga, #btn-borrar{
  background-color: #3bbd9c;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
}

.sub-user-data-info{
  margin: 2px;
  width: 25%;
  display: flex;
  flex-direction: row;
}

.form-btn-container{
  display: flex;
  margin: 3rem 2.5rem 2rem 1rem;
  justify-content: center;
}


#guardar {

  background-color: #e9daeb;
  border: none;
  border-radius: 20px;
  color: #1d0a24;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  width: 12rem;
  height: 3rem;
  font-weight: bolder;

}

#guardar:hover {
  background-color: #2bb131;
  color: white;
}

#btn-borrar:hover {
  background-color: #ce1e18;
  color: white;
}

.template-btn-container{
  padding: 0 10%;
  margin: 2% auto;
}


@media only screen and (max-width: 400px) {
  body {
    width: fit-content;
  }

  .navBar{
    margin-bottom: 1rem;
  }

  #nav-title {
    font-size: 2rem;
    text-align: right;
    display: contents;
  }
  
  #nav-container{
      /* width: 100%;
      margin: auto;
      display: flex;
      align-items: center; */
      width: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

  }

  .nav-btn-container {
    /*display: none;*/
    display: inline-table;
  }

 .nav-btn {
   margin: 1%;
 }

  #pdf-template{  
    width: 50%;
    margin: 1rem auto;
    font-size: 1.5rem;
    width: fit-content;
    text-align: center;
    
  }

  .template-btn-container{
    padding: 0 10%;
    margin: 2% auto;
  }

  Button { 
    margin: 0.5rem 0.5rem;
    height: 2rem;
}

  #form-title {
    margin: auto;
    margin-bottom: 2rem;
    /* width: 50%; */
    text-align: center;
    font-size: 1.5rem;
  }

  input {
    /* margin: 0.5rem 2rem; */
    border-radius: 3px;
    border: rgb(208 194 215) solid 1px;
    height: 2rem;
    width: 15rem;
  }

  .cvForm {
    display: inline-block;
    width: 85%;
    margin: 5%;
  }

  .form-btn{
    background-color: #a76eaf;
    width: 10rem;
    height: 3rem;
  }
  
}