
*{
  margin: 0;
  padding: 0;
}

.navBar {
  background-color: #427e4f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 4rem;
}

